@import "compass-sb-styles/assets/mixins/mixins";

.allCompetencyTitle {
    @include typography(var(--font-com-en), 24px, 600, 0.25px, 36px);
}
.all-comp-container {
    flex-direction: column;
}
.popular-comp-container {
    flex-direction: row;
}
.popular-card {
    width: 25%;
    padding: 1rem 1rem 1rem 1rem;
}
::ng-deep snack-bar-container.wishlist-snackbar{
    background-color: white;
    border-radius: 0px !important;
    min-width: 161px !important;
    height: 54px;
    text-align: center;
    justify-content: center;
    display: flex !important;
}
@media only screen and (max-width: 1127px) {
    .popular-card {
        width: 33%;
    }
}
@media only screen and (max-width: 876px) {
    .popular-card {
        width: 50%;
    }
}
@media only screen and (max-width: 608px) {
    .popular-card {
        width: 100%;
    }
}