<compass-breadcrumb [data]="breadCrumbData"></compass-breadcrumb>
<div class="container ui">
    <!-- popular competencies -->
    <section class="ui container mt-60" *ngIf="popularCompetencies">
      <p class="allCompetencyTitle w-100">{{popularCompetencies.title}}</p>
      <div class="ui grid middle aligned stackable ">
        <div class="wide popular-card"  *ngFor="let info of popularCompetencies.data">
          <sb-popular-card
            (click)="loadCompetencyCourses(info['identifier'])"
            [pillName]="'Competency'" [data]="info"
            class="three wide column"
          ></sb-popular-card>
        </div>
      </div>
  </section>
    <!-- popular competencies -->

    <!-- all competencies -->
    <section class="ui container mt-60" *ngIf="allCompetencies">
      <p class="allCompetencyTitle w-80">{{allCompetencies.title}}</p>
      <div class="w-80 d-flex all-comp-container">
          <sb-popular-card
            *ngFor="let info of allCompetencies.data"
            [pillName]="'Competency'" [data]="info"
            class="w-100 mb-32"
            (filterChange) = "onCourseClick($event)" (favoriteIconClicked)="favoriteIconClicked($event)"
          ></sb-popular-card>
      </div>
  </section>
  <!-- all competencies -->
</div>