<compass-banner [config]="resourceService?.frmelmnts?.llp?.banner">
</compass-banner>

<div
  [ngClass]="[layoutConfiguration ? 'sbt-fluid-content-bg':'', (getSelectedTab() === 'home' || getSelectedTab() === 'explore') ? '': '']">
  <div class="ui container featured-courses-section">
    <p class="heading">{{resourceService?.frmelmnts?.lp?.featuredCourses}}</p>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigNew" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem class="slide" *ngFor='let course of courses;'>
            <compass-course-card [data]="course"></compass-course-card>
        </div>
    </ngx-slick-carousel>
  </div>

  <section class="ui container mt-4rem" *ngIf="resourceService?.frmelmnts?.llp?.browseByCardInfo">
      <p class="browseTitle">{{resourceService?.frmelmnts?.llp?.browseByCardInfo.title}}</p>
      <div class="cardContainer">
          <browse-by-card
            *ngFor="let info of doJsonDecode(resourceService?.frmelmnts?.llp?.browseByCardInfo.cards);"
            class="browseByCard"
            [cardInfo]="info"
            (click)="getBrowseByData(info.title)"
          ></browse-by-card>
      </div>
  </section>
  <div class="ui container mt-32">
    <div class="popular-card">
      <div class="popular-card-title">{{resourceService?.frmelmnts?.llp?.topics.title}}</div>
      <!--div><button class="com-secondary-btn">{{topicsData.button}}</button></div-->
    </div>
    <div class="ui grid middle aligned stackable">
      <div class="three wide column" *ngFor="let data of doJsonDecode(resourceService?.frmelmnts?.llp?.topics.data);let i=index">
        <sb-popular-card [pillName]="'Topic'" [data]="data"></sb-popular-card>
      </div>
    </div>
  </div>

  <div class="ui container mt-32">
    <div class="popular-card">
      <div class="popular-card-title">{{resourceService?.frmelmnts?.llp?.competencies.title}}</div>
      <!--div><button class="com-secondary-btn">{{competencyData.button}}</button></div-->
    </div>
    <div class="ui grid middle aligned stackable">
      <div class="three wide column" *ngFor="let data of doJsonDecode(resourceService?.frmelmnts?.llp?.competencies.data);let i=index">
        <sb-popular-card [pillName]="'Competency'" [data]="data"></sb-popular-card>
      </div>
    </div>
  </div>
</div>

<app-offline-banner *ngIf="!isUserLoggedIn()" [slug]="userService.slug"></app-offline-banner>
<!-- Show Modal if content has any YouTube data-->
<app-modal-wrapper *ngIf="showModal" [config]="{disableClose: false}" (dismiss)="showModal = !showModal">
  <ng-template sbModalContent let-data>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible normal">
          <button aria-label="close dialog" mat-dialog-close class="mat-close-btn">
            <span>&times;</span>
          </button>
          <div class="sb-modal-header">
            {{resourceService.frmelmnts?.btn?.download}}
          </div>
          <div class="sb-modal-content">
            <p>{{resourceService?.messages?.stmsg?.m0137 }}</p>
          </div>
          <div class="sb-modal-actions">
            <button class="sb-btn sb-btn-normal sb-btn-primary" tabindex="0"
              (click)="callDownload(); showModal = !showModal; logTelemetry(contentData, 'confirm-download-content');">
              {{resourceService.frmelmnts?.btn?.yes}}
            </button>
            <button class="sb-btn sb-btn-normal sb-btn-outline-primary" tabindex="0"
              (click)="showModal = !showModal; logTelemetry(contentData, 'cancel-download-content');">
              {{resourceService.frmelmnts?.btn?.cancel}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>

<app-batch-info *ngIf="showBatchInfo && isUserLoggedIn()" [enrolledBatchInfo]="selectedCourseBatches"
  (modelClose)="showBatchInfo = false">
</app-batch-info>


<app-modal-wrapper *ngIf="showEdit" [config]="{disableClose: false, panelClass: ['overflow-visible', 'material-modal']}">
  <ng-template sbModalContent let-data>
    <app-popup [dialogProps]="data" [formInput]="userPreference?.framework" [showCloseIcon]="true"
      [buttonLabel]="resourceService?.frmelmnts?.btn?.submit" [isPreference]="true" [isGuestUser]="true"
      (submit)="updateProfile($event)" (close)="showEdit = !showEdit">
    </app-popup>
  </ng-template>
</app-modal-wrapper>