.batch-progress {
    &__wrapper{
        background: rgb(240, 243, 244);
        min-height: 100vh;
    }
    &__bread-crumb{
        background: rgb(240, 243, 244);
    }
    &__header {
        display: flex;
        justify-content: space-between;
        ::ng-deep .mat-form-field {
            width:300px;
            margin-right: 20px;
            &:focus-visible{
                border: none;
            }  
            .mat-form-field-flex{
                border: none !important;
            }
            .mat-form-field-infix {
                width:300px;
                height:42px;
                background: var(--white);
                padding: 0 10px;
                .mat-select{
                  
                }
                .mat-input-element{
                    position: absolute;
                    top:2px;
                    right:0px;
                    width: 260px;
                }
            }
            .mat-form-field-label{
                top:12px;
                left:12px;
            }
            .mat-form-field-underline{
                display: none;
            }
        }
        ::ng-deep .mat-form-field-label{
            padding:3px 20px;
        }
 
    }
    &__filters{
        display: flex;
    }
    &__button {
        display: flex;
        background: var(--white);
        padding:8px 10px;
        margin-right: 15px;
    }
    &__dateDropdown{
        position: relative;

        &-list{
            
            background: var(--white);
            padding:10px;
            position: absolute;
            top:44px;
            right:0;
            width:340px;
            z-index:99;

            .startAndend{
                display: flex;

            }
            ::ng-deep .mat-form-field {
                width: 150px;
                .mat-form-field-infix {
                    background: none;
                    height: 48px;
                    .mat-input-element {
                        width: 150px;
                    }
                }
                .mat-datepicker-toggle{
                        position: absolute;
                        right: -12px;
                        top: -6px;
                }
            }
            ::ng-deep .mat-form-field-label{
                padding:3px 20px;
                top:0;
            }
            .com-basic-btn{
                width: 100%;
                background: var(--white);
                color:var(--black);
                margin-bottom:10px;
            }
        }
    }
   
   
}


*:focus-visible {
    border:none !important
}

.notAvailable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top:100px;
    font-weight: 600;
}