@use "compass-sb-styles/assets/mixins/mixins"as *;
@use "/src/assets/styles/layout/_header.scss";

.compass-header {
  position: sticky;
  z-index: 10;
  left: 0;
  width: 100%;
  // height: 3.5rem !important;
  // top: calculateRem(48px) !important;
  top: 0px !important;

  @include respond-below(sm) {
    position: initial;
  }
}

.com-header {
  .sb-g {
    grid-template-columns: repeat(12, 1fr) !important;
  }
}

.menuIcon {
  cursor: pointer;
}

.spaces-icon {
  span {
    // position: absolute;
    // padding-left: 8px;
    // padding-top: 1px;
  }
}

.bs-1:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.29) !important;
}

.logo {
  padding-left: 0;
  width: 25%;

  img {
    width: calculateRem(98px);
  }
}

.compass-entrymenu {
  .com-primary-btn {
    margin-left: calculateRem(12px);
  }

}

.mr-2 {
  margin-right: 20px !important;
}

.user-avatar {
  padding: 10px 14px;
  background-color: rgb(102, 102, 102);
  color: rgba(255, 255, 255, 0.95);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.sbt-guest-profile {
  box-shadow: unset;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 8px;
  color: rgba(0, 0, 0, 0.87);
}

.search-container {
  margin: auto;

  input::placeholder {
    /* modern browser */
    color: rgba(0, 0, 0, 0.4) !important;
  }
}

#header-search {
  // width: 320px;
  padding-left: 38px;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.60);
}

#header-search:focus,
#header-search:focus-visible {
  border: solid 1px rgba(0, 0, 0, 0.16) !important;
}

.search-right-icon {
  position: absolute;
  right: 10px;
  top: 6px;
}

.search-left-icon {
  position: absolute;
  left: 10px;
  top: 6px;
}

.ui.input {
  width: 80%;
}

.pointing {
  cursor: pointer;
}

.com-header {
  .sbt-header-logo {
    min-height: auto;
  }

  .sb-g {
    padding: 6px 0px 7px;
  }

  .spaces-icon {
    display: none;

    @media only screen and (min-width: 800px) {
      display: block;
    }
  }
}

.main-menu {
  &.mobile-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    @media only screen and (min-width: 800px) {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__lang-large {
    display: none;

    @media only screen and (min-width: 800px) {
      display: block;
    }
  }
}

.menu-trigger {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .open {
    display: block;
  }

  .close {
    display: none;
  }

  &__close {
    text-align: right;

    .mat-icon {
      color: var(--com-pink);
      font-size: 30px;
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
  }
}

.menu-trigger[aria-expanded="true"] {
  background-color: var(--com-grey-14);
  padding: 4px 8px;
  border-radius: 3px;

  .mat-icon {
    color: var(--com-primary-color);
  }

  .close {
    display: block;
  }

  .open {
    display: none;
  }
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
  width: 95vw;
  padding: 10px;

  .mat-menu-content {
    padding: 0;
  }

  .sub-heading-mobile {
    padding: 10px 2px;
  }

  ul {
    padding: 0;

    li {
      padding: 0;
      margin: 0;

      .mat-menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        height: 66px;
        padding: 0;

        .mat-icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: var(--com-primary-color);
          width: 60px;
          height: 60px;
          background-color: var(--com-grey-14);
          border-radius: 10px;
        }
      }
    }

    @media only screen and (min-width: 540px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      li {
        margin-right: 20px;
      }

    }
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;
    padding: 15px;
    margin-top: 19px;
  }
}

// ::ng-deep#cdk-overlay-0 {
//    left: 0 !important;
// }

//  Mobile
@media only screen and (max-width: 768px) {

  .spaces-icon,
  .language-dd {
    display: none;
  }

  .ui.input {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .head-container {
    padding: 10px 0px !important;
  }
}
