<aside class="aside">
    <div class="aside__top">
    <button class="com-primary-btn" (click)="navigate()">{{configContent.courseAside.startCourse}}</button>
    <p class="aside__share-rating">
        <button class="com-secondary-btn"> <span class="button-icon"><mat-icon>star</mat-icon></span><label class="button-label">{{configContent.courseAside.rating}}</label></button>
        <button class="com-secondary-btn"><span class="button-icon"><mat-icon>share</mat-icon></span><label class="button-label">{{configContent.courseAside.share}}</label></button>
    </p>
    <section class="aside__course-info">
        <h4 class="sub-heading-one">{{configContent.courseAside.title}}</h4>
        <ul>
            <li *ngIf="courseHierarchy.Duration">
                <mat-icon class="timer-icon">timer</mat-icon>
                {{courseHierarchy.Duration}} {{configContent.courseAside.durationText}}
                <!-- {{ courseHierarchy.duration }} -->
            </li>
            <li *ngIf="courseHierarchy.mimeTypeObjs['application/vnd.ekstep.content-collection']" class="nested">
              <div>
                <mat-icon>toc</mat-icon>
                {{courseHierarchy.mimeTypeObjs['application/vnd.ekstep.content-collection']}} {{configContent.courseAside.modules}}
              </div>
                <!-- {{ courseHierarchy.duration }} -->
                <ul>
                    <li *ngIf="courseHierarchy.mimeTypeObjs['video/mp4']">
                        <mat-icon>play_circle_filled</mat-icon>
                        {{courseHierarchy.mimeTypeObjs['video/mp4']}} {{configContent.courseAside.videos}}
                        <!-- {{ courseHierarchy.duration }} -->
                    </li>
                    <li *ngIf="courseHierarchy.mimeTypeObjs['application/pdf']">
                        <mat-icon>picture_as_pdf</mat-icon>
                       {{courseHierarchy.mimeTypeObjs['application/pdf']}} {{configContent.courseAside.pdfs}}
                        <!-- {{ courseHierarchy.resources }} -->
                    </li>
                    <li *ngIf="courseHierarchy.mimeTypeObjs['application/vnd.sunbird.questionset']">
                        <mat-icon>playlist_add_check</mat-icon>
                       {{courseHierarchy.mimeTypeObjs['application/vnd.sunbird.questionset']}} {{configContent.courseAside.assessments}}
                        <!-- {{ courseHierarchy.resources }} -->
                    </li>
                </ul>
            </li>
        </ul>
    </section>
   </div>
    <mat-divider></mat-divider>
    <div class="aside__bottom">
        <ul>
            <li>
                <div class="body-two">{{configContent.courseAside.contentType}}</div>
                <div class="sub-heading-one">{{courseHierarchy.contentType}}</div>
            </li>
            <li>
                <div class="body-two">Cost</div>
                <div class="sub-heading-one">Free</div>
            </li>
            <li>
                <div class="body-two">{{configContent.courseAside.source}}</div>
                <div class="sub-heading-one">{{courseHierarchy.copyright}}</div>
            </li>
        </ul>
    </div>
</aside>

