<div class="avg-progress">
    <!-- <ng-container>
        <span class="completed-icon" title="Completed">
            <svg class="icon icon-svg icon-svg--sm mr-8">
                <use xlink:href="assets/images/sprite.svg#circle-with-check-symbol"></use>
            </svg>
        </span>
        <span>Completed</span>
    </ng-container> -->
    <span class="mr-8 progress-circle progress-circle--xs" title="{{getPercentageCompleted()}}" [attr.data-percentage]="100 - getPercentageCompleted()">
        <svg class="progress-circle__svg" viewport="0 0 2000 2000">
            <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
            <circle class="progress-circle__stroke" r="50%" cx="50%" cy="50%"></circle>
            <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" font-size="12" fill="#333">
                {{getPercentageCompleted()}}%
            </text>
        </svg>
    </span>
    <span class="sub-heading-one">Your Progress</span>
</div>
<aside class="aside">
    <div class="aside__top">
        <button class="com-primary-btn" (click)="navigate()">
            <ng-container *ngIf="courseStatus === 0">
                {{configContent.courseAside.start || 'Start'}}
            </ng-container>
            <ng-container *ngIf="courseStatus === 1">
                {{configContent.courseAside.resume || 'Resume'}}
            </ng-container>
            <ng-container *ngIf="courseStatus === 2">
                {{configContent.courseAside.restart || 'Restart'}}
            </ng-container>
        </button>
        <p class="aside__share-rating">
            <button class="com-secondary-btn" [ngClass]="{'disabled' : courseStatus != 2}" (click)="displayRatingModal()"><span class="button-icon">
                    <mat-icon>star</mat-icon>
                </span><label class="button-label">{{configContent.courseAside.rating}}</label></button>
            <button class="com-secondary-btn disabled"><span class="button-icon">
                    <mat-icon>share</mat-icon>
                </span><label class="button-label">{{configContent.courseAside.share}}</label></button>
        </p>
        <ng-container *ngIf="courseStatus === 2">
            <p class="aside__share-rating">
                <button class="com-secondary-btn download-cert-btn" (click)="downloadOldAndRCCert()"><span
                        class="button-icon">
                        <mat-icon>download</mat-icon>
                    </span><label
                        class="button-label">{{resourceService?.frmelmnts?.btn.downloadCertificate}}</label></button>
            </p>
        </ng-container>
        <section class="aside__course-info">
            <h4 class="sub-heading-one">{{courseHierarchy.primaryCategory == "Course" ? configContent.courseAside.title
                : configContent.courseAside.assessmentTitle}}</h4>
            <ul>
                <li *ngIf="courseHierarchy.Duration">
                    <mat-icon class="timer-icon">timer</mat-icon>
                    {{courseHierarchy.Duration}} {{configContent.courseAside.durationText}}
                    <!-- {{ courseHierarchy.duration }} -->
                </li>
                <li *ngIf="courseHierarchy.mimeTypeObjs['application/vnd.ekstep.content-collection']" class="nested">
                    <div>
                        <mat-icon>toc</mat-icon>
                        {{courseHierarchy.mimeTypeObjs['application/vnd.ekstep.content-collection']}}
                        {{configContent.courseAside.modules}}
                    </div>
                    <!-- {{ courseHierarchy.duration }} -->
                    <ul>
                        <li *ngIf="courseHierarchy.mimeTypeObjs['video/mp4']">
                            <mat-icon>play_circle_filled</mat-icon>
                            {{courseHierarchy.mimeTypeObjs['video/mp4']}} {{configContent.courseAside.videos}}
                            <!-- {{ courseHierarchy.duration }} -->
                        </li>
                        <li *ngIf="courseHierarchy.mimeTypeObjs['application/pdf']">
                            <mat-icon>picture_as_pdf</mat-icon>
                            {{courseHierarchy.mimeTypeObjs['application/pdf']}} {{configContent.courseAside.pdfs}}
                            <!-- {{ courseHierarchy.resources }} -->
                        </li>
                        <li *ngIf="courseHierarchy.mimeTypeObjs['application/vnd.sunbird.questionset']">
                            <mat-icon>playlist_add_check</mat-icon>
                            {{courseHierarchy.mimeTypeObjs['application/vnd.sunbird.questionset']}}
                            {{configContent.courseAside.assessments}}
                            <!-- {{ courseHierarchy.resources }} -->
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
    <mat-divider></mat-divider>
    <div class="aside__bottom">
        <ul>
            <li>
                <div class="body-two">{{configContent.courseAside.contentType}}</div>
                <div class="sub-heading-one">{{courseHierarchy.contentType}}</div>
            </li>
            <li>
                <div class="body-two">Cost</div>
                <div class="sub-heading-one">Free</div>
            </li>
            <li>
                <div class="body-two">{{configContent.courseAside.source}}</div>
                <div class="sub-heading-one">{{courseHierarchy.copyright}}</div>
            </li>
        </ul>
    </div>
</aside>
<!-- Join Course Table -->
<app-modal-wrapper [config]="{disableClose: false}" (dismiss)="showRatingModal = false;" *ngIf="showRatingModal">
    <ng-template sbModalContent let-data>
        <div class="sb-modal">
            <div class="transition ui dimmer page modals active visible">
                <div class="ui modal transition active visible normal">
                    <button aria-label="close dialog" mat-dialog-close (click)="showRatingModal = false;"
                        class="mat-close-btn">
                        <span>&times;</span>
                    </button>
                    <div class="sb-modal-header font-weight-normal padding-20-x">
                        {{resourceService?.frmelmnts?.toc?.overview?.rating}}
                    </div>
                    <div class="rating-stars ui container mt-2em padding-20-x">
                        <p>What would you rate this course?</p>
                        <p class="give-rating">
                            <span class="button-icon" [ngClass]="{'active-star' : rating >= 1}" (click)="rating=1">
                                <mat-icon>star</mat-icon>
                            </span>
                            <span class="button-icon" [ngClass]="{'active-star' : rating >= 2}" (click)="rating=2">
                                <mat-icon>star</mat-icon>
                            </span>
                            <span class="button-icon" [ngClass]="{'active-star' : rating >= 3}" (click)="rating=3">
                                <mat-icon>star</mat-icon>
                            </span>
                            <span class="button-icon" [ngClass]="{'active-star' : rating >= 4}" (click)="rating=4">
                                <mat-icon>star</mat-icon>
                            </span>
                            <span class="button-icon" [ngClass]="{'active-star' : rating >= 5}" (click)="rating=5">
                                <mat-icon>star</mat-icon>
                            </span>
                        </p>
                    </div>
                    <div class="ui container padding-20-x mt-2em">
                        <p>{{resourceService?.frmelmnts?.toc?.courseAside?.yourReview}}</p>
                        <div class="sb-input">
                            <textarea rows="5" class="false sb-textbox ng-pristine ng-valid valid ng-touched" name="review" id="review"></textarea>
                        </div>
                    </div>
                    <div class="ui container right aligned padding-20-x">
                        <button class="com-secondary-btn mt-2em mb-2em" (click)="saveCourseRating()">{{resourceService?.frmelmnts?.btn?.submit}}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</app-modal-wrapper>