@use "compass-sb-styles/assets/mixins/mixins"as *;

.mt-4rem {
    margin-top: 4rem;
}

.mb-4rem {
    margin-bottom: 4rem;
}

.popular-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calculateRem(26px);

    &-title {
        @include typography(var(--font-com-en), 24px, 600, 0px, 36px);
        text-transform: initial !important;
        opacity: 1;
        color: var(--black);
        font-style: normal;
        text-align: left;
    }

    .com-secondary-btn {
        border: 1px solid var(--com-grey-border);
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.card-container {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.16);
}

.pointing {
    cursor: pointer;
}

@media only screen and (max-width: 888px) {
    .ui.grid{
      .three{
        width: 33.333333833% !important;
      }
    }
}

  @media only screen and (max-width: 767px) {
    .ui.container>.ui.stackable.grid>.column,.ui.container>.ui.stackable.grid>.row>.column {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

@media only screen and (max-width: 568px) {
    .ui.grid{
      .three{
        width: 50%!important;
      }
    }
}

@media only screen and (max-width: 472px) {
    .ui.grid{
      .three{
        width: 100%!important;
      }
    }
}