::ng-deep {
    .language-dropdown-options.ui.selection.sbt-dropdown.dropdown.sbt-green .menu>.item {
        color: var(--gray-800);
    }

    .sb-mat__dropdown--nolabel.mat-form-field-appearance-fill .mat-form-field-flex {
        height: 2.7rem;
    }

    .sb-mat__dropdown.mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0px;
    }
    
    .sb-mat__dropdown {
        .mat-form-field-flex {
            box-shadow: unset !important;
            border: solid 1px rgba(0, 0, 0, 0.16) !important;
        }
    }

    .mat-form-field-infix {
        width: unset !important;
    }

    .mat-select-min-line, .mat-select-arrow {
        color: #6e6e6e !important;
    }

    .mat-select-min-line {
        text-transform: uppercase;
        margin-left: 10px;
    }

    .mat-select-value-text span::before {
        display: none !important;
    }
}