.course-content {

    .headline {
        margin-bottom: 22px;
    }
    p {
        display: flex;
        justify-content: right;
        .com-basic-btn {
            text-transform: capitalize;
        }
    }
    .toc {
        &__container{
            margin: 0 0 24px 0;
        }
        &__item{
            margin-bottom: 24px;
        }
    }
}
@media screen and (max-width: 768px) {
    .ui.grid{
        flex-direction: column-reverse;
        .four.wide.column, .eight.wide.column{
            width: 90%!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }
    }
}