.competencies {
    ul {
        list-style-type: disc;

        li {
            margin-bottom: 10px;
        }
    }
}

.member {
    width: 40%;
    min-width: 40%;

    .member-name {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.competency-levels {
    text-transform: inherit !important;
}


@media screen and (max-width:1024px) {
    .member {
        min-width: 50%;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .member {
        min-width: 60%;
        width: 65%;
    }

    .ui.grid:not(.rating-bar) {
        flex-direction: column-reverse;

        .four.wide.column,
        .eight.wide.column {
            width: 90% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

@media screen and (max-width: 560px) {
    .member {
        min-width: 70%;
        width: 75%;
    }
}

.rating {
    font-weight: 600;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.87);
}

.out-of {
    margin-left: 3px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.mat-card__progressbar {
    height: calculateRem(4px);
    width: 90%;
    height: 8px;
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.08);

    &>span {
        display: block;
        height: 100%;
        position: relative;
        overflow: hidden;
        //   border-bottom-left-radius: 4px;
        //   border-bottom-right-radius: 4px;
    }
}

.linear-rating {
    display: inline-flex;
}

.rating-label {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
}

.mb-minus-2 {
    margin-bottom: -2em;
}

.rating-container {
    margin-top: 20%;
}

.star-icon {
    color: rgba(0, 0, 0, 0.16);
}

.star-icon.active {
    color: rgb(254, 45, 155);
}

.total-ratings {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2px;
    position: absolute;
    margin-left: 5px;
}

.rating-avatar {
    padding: 18px 22px;
    background-color: rgb(28, 29, 31);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.95);
    font-size: 14px;
    font-weight: 700;
    font-family: Lato;
    position: absolute;
    text-transform: uppercase;
}

.user-name {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.rating-description {
    color: rgba(0, 0, 0, 0.87);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.rating-block {
    display: inline-flex;

    .rating-count {
        color: rgb(254, 45, 155);
        font-size: 14px;
        font-weight: 700;
        font-family: Lato;
        margin-right: 5px;
    }

    .rating-date {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 700;
        font-family: Lato;
        margin-left: 10px;
    }
}

hr {
    // margin-top: 10px;
    // margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.4;
}

.more-btn {
    margin: 20px auto;
    border: solid 1px rgba(0, 0, 0, 0.16);
}