.competencies{
    ul{
        list-style-type: disc;
        li{
            margin-bottom: 10px;
        }
    }
}
.member {
    width: 40%;
    min-width: 40%;
    .member-name {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.competency-levels {
    text-transform: inherit !important;
}


@media screen and (max-width:1024px) {
    .member {
        min-width: 50%;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .member {
        min-width: 60%;
        width: 65%;
    }
    .ui.grid{
        flex-direction: column-reverse;
        .four.wide.column, .eight.wide.column{
            width: 90%!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }
    }
}

@media screen and (max-width: 560px) {
    .member {
        min-width: 70%;
        width: 75%;
    }
}