<!-- <app-landing-section [textToDisplay]="" [layoutConfiguration]="layoutConfiguration" [noTitle]="true">
</app-landing-section>
<app-course-consumption-header *ngIf="!showLoader && !showError && showAddGroup !== null"
    [courseHierarchy]="courseHierarchy" [enrolledBatchInfo]="enrolledBatchInfo" [groupId]="groupId"
    [showAddGroup]="showAddGroup" [layoutConfiguration]="layoutConfiguration"></app-course-consumption-header>
<div [ngClass]="layoutConfiguration ? 'sbt-inside-page-container' : ''">
<router-outlet *ngIf="!showLoader && !showError"></router-outlet>
<div *ngIf="showLoader" class="ui container">
    <div class="ui grid">
        <div class="twelve wide column">
            <app-loader></app-loader>
        </div>
    </div>
</div>
</div>
<app-batch-info *ngIf="showBatchInfo" [enrolledBatchInfo]="selectedCourseBatches"
    (routeChanged)="refreshComponent($event)">
</app-batch-info> -->
<ng-container *ngIf="config">
    <compass-breadcrumb *ngIf="breadCrumbData" [data]="breadCrumbData"></compass-breadcrumb>
    <compass-banner [config]="config" (wishList)="addWishList($event)"></compass-banner>
</ng-container>
<div *ngIf="courseTabs&&courseHierarchy" class="courseTab">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label={{resourceService.frmelmnts.toc.tab.overview}} #tab1>
           <!-- <router-outlet *ngIf="!showLoader && !showError"></router-outlet>
            <div *ngIf="showLoader" class="ui container">
                <div class="ui grid">
                    <div class="twelve wide column">
                        <app-loader></app-loader>
                    </div>
                </div>
            </div> -->

        <app-course-overview [courseDetails]="courseHierarchy" [configContent]="resourceService.frmelmnts.toc" [params]="batchId" [isActive]="tab1.isActive"></app-course-overview>
        </mat-tab>
        <mat-tab label={{contentTabLabel}} #tab2>
            <app-course-content [courseDetails]="courseHierarchy" [configContent]="resourceService.frmelmnts.toc"
             [params]="batchId" [tocList]="tocList" (contentClicked)="contentClicked($event)" [isActive]="tab2.isActive"></app-course-content>
        </mat-tab>
        <mat-tab label={{resourceService.frmelmnts.toc.tab.discussion}} #tab3>
            <course-discussion-forum [courseDetails]="courseHierarchy" [configContent]="resourceService.frmelmnts.toc" [isActive]="tab3.isActive"></course-discussion-forum>
        </mat-tab>
        <mat-tab label={{resourceService.frmelmnts.toc.tab.members}} #tab4>
            <app-batch-list [courseHierarchy]="courseHierarchy" [configContent]="resourceService.frmelmnts.toc" [isActive]="tab4.isActive"></app-batch-list>
        </mat-tab>
    </mat-tab-group>
</div>
