@use "compass-sb-styles/assets/mixins/mixins" as *;

::ng-deep {
    .rating-keyworks__stars, .rating-keyworks__wishList{
        opacity: 0.5;
    }
    .courseTab {
        mat-tab-group {
            width: 100%;

            mat-tab-header {
                background-color: rgba(0, 0, 0, 0.04);
                height: calculateRem(60px);
                align-items: center;
                div{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                .mat-tab-labels {
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: flex-start !important;
                    div{
                        color: rgba(0, 0, 0, 0.87);
                        opacity: 1;
                        text-transform: initial !important;
                        @include typography(var(--font-com-lato), 14px, 700, 0.5px, 20px);
                    }
                    .mat-tab-label-active{
                        .mat-tab-label-content{
                            color: var(--primary-color);
                        }
                    }
                    .mat-tab-label-content{
                        color: var(--com-grey-60);
                    }
                    .mat-ripple-element {
                        display: none !important;
                    }
                }
                .mat-tab-header-pagination-before, .mat-tab-header-pagination-after {
                    display: none !important;
                }
            }

            &.mat-primary .mat-ink-bar {
                background: var(--primary-color);
            }

            .mat-tab-body-wrapper {
                // width: 95.25rem !important;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
::ng-deep {
    @media only screen and (max-width: 767px) {
        .courseTab mat-tab-group mat-tab-header .mat-tab-labels {
            width: auto !important;
            margin-left: 1em!important;
            margin-right: 1em!important;
        }
    }
    @media only screen and (max-width: 1199px) and (min-width: 768px) {
        .courseTab mat-tab-group mat-tab-header .mat-tab-labels {
            width: 90%;
        }
    }
    @media only screen and (min-width: 1200px) {
        .courseTab mat-tab-group mat-tab-header .mat-tab-labels {
            width: 1127px !important; 
        }
    }
    @media (min-width: 1280px) {
        .courseTab mat-tab-group mat-tab-header .mat-tab-labels {
           width: 76rem !important;
       }
    }
    @media(min-width: 1600px) {
        .courseTab mat-tab-group mat-tab-header .mat-tab-labels {
            width: 95.25rem !important;
        }
    }
}

.course-content {

    .headline {
        margin-bottom: 22px;
    }
    p {
        display: flex;
        justify-content: right;
        .com-basic-btn {
            text-transform: capitalize;
        }
    }
    .toc {
        &__container{
            margin: 0 0 24px 0;
        }
        &__item{
            margin-bottom: 24px;
        }
    }
}

::ng-deep snack-bar-container.wishlist-snackbar{
    background-color: white;
    border-radius: 0px !important;
    min-width: 161px !important;
    height: 54px;
    text-align: center;
    justify-content: center;
    display: flex !important;
}