<div class="course-assessment__wrapper">
       <header class="course-assessment__header">
            <div class="container ui course-assessment__tabs">
                 <span (click)="switchTabs('Course')" class="course-assessment__label" [ngClass]="{'active': primaryCategory === 'Course'}">Courses</span>
                 <span (click)="switchTabs('Assessment')" class="course-assessment__label" [ngClass]="{'active': primaryCategory === 'Assessment'}">Assessments</span>
            </div>
        </header>
        <section class="container ui">
            <header class="course-assessment-section__header">
                <h1 *ngIf="count" class="headline">{{primaryCategory === 'Course'? 'Courses':'Assessments'}}({{count}})</h1>
                <div class="course-assessment-section__header-filter">
                    <mat-form-field [floatLabel]="'never'">
                        <mat-label>Select Competency</mat-label>
                            <mat-select [formControl]="competency" multiple appearance="none" [(value)]="competencyModel.selectedCompetenciesList" (selectionChange)="onSelect($event.value)">
                                <mat-option *ngFor="let comp of competenciesList" [value]="comp">{{comp.name}}</mat-option>
                            </mat-select>
                    </mat-form-field>

                    <mat-form-field class="course-assessment__search"  [floatLabel]="'never'"> 
                        <mat-icon>search</mat-icon>
                        <input matInput type="text" [(ngModel)]="search" (keyup.enter)="searchQuery()" (blur)="searchQuery()" placeholder="Search course" appearance="outline" />                       
                    </mat-form-field>
                </div>
            </header>
            <mat-chip-list #chipList aria-label="competency selection">
                <mat-chip
                  *ngFor="let comp of competencyModel.selectedCompetenciesList"
                  (removed)="removeCompetencies(comp.identifier)">
                  {{comp.name}}
                  <button matChipRemove>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-chip>
            </mat-chip-list>
            <data-table [dataSource]="dataSource" [displayedColumns]="displayColumns" (onPageChange)="onPageChange($event)" [showPagination]="true" [count]="count"></data-table>
        </section>
</div>