<div *ngIf="!showLoader" [appTelemetryImpression]="telemetryPlayerPageImpression"
  [ngClass]="layoutConfiguration ? 'sbt-inside-page-container' : ''" class="text-left relative9">
  <!-- CC-Player Video -->
  <div class="playerPageContainer">
    <div class="cc-player ui grid">
      <section class="cc-player__video sb-toc-player-column twelve wide column">

        <div class="toc-content text-left">
          <div class="content-video">
            <section class="content-video__player" id="player-area-height">
              <div class="aspectratio" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
                <app-player *ngIf="showPlayer" class="content-player" [playerOption]="playerOption"
                  [playerConfig]="playerConfig" [contentProgressEvents$]="contentProgressEvents$"
                  (assessmentEvents)="onAssessmentEvents($event)"
                  (questionScoreSubmitEvents)="onQuestionScoreSubmitEvents($event)"
                  (questionScoreReviewEvents)="onQuestionScoreReviewEvents($event)"
                  (ratingPopupClose)="onRatingPopupClose()"
                  (selfAssessLastAttempt)="onSelfAssessLastAttempt($event)"
                  (endEventReached)="endEventReached($event)"></app-player>
              </div>
              <div class="left-right-navigation mt-16">
                <div class="sb-g-col-lg-4">
                  <button class="sb-btn sb-btn-link sb-btn-normal sb-left-icon-btn right-button"
                    aria-label="previous-module" *ngIf="prevModule" tabindex="0"
                    (click)="navigateToPlayerPage(prevModule); logTelemetry('previous-module', prevModule, true);">
                    <i class="icon-svg icon-svg--xxs icon-back mr-4 rotate-90" role="img" aria-label="arrow-up">
                      <svg class="icon">
                        <use xlink:href="assets/images/sprite.svg#arrow-up"></use>
                      </svg></i>
                  </button>
                </div>
                <div class="sb-g-col-lg-4 text-center">
                  <div *ngIf="prevModule || nextModule" class="sub-heading-two">{{selectedContentName}}</div>
                  <div></div>
                </div>
                <div class="sb-g-col-lg-4 text-right">
                  <button class="sb-g-col-lg-4 sb-btn sb-btn-link sb-btn-normal sb-right-icon-btn left-button ml-auto"
                    aria-label="next-module" *ngIf="nextModule" tabindex="0"
                    (click)="navigateToPlayerPage(nextModule); logTelemetry('next-module', nextModule, true)">
                    <i class="icon-svg icon-svg--xxs icon-back ml-4 rotate90" role="img" aria-label="arrow-up"><svg
                        class="icon">
                        <use xlink:href="assets/images/sprite.svg#arrow-up"></use>
                      </svg></i>
                  </button>
                  <ng-container *ngIf="prevModule && !nextModule">
                    <button type="button" class="com-primary-btn finish-button" tabindex="0"
                      (click)="goBack(); logTelemetry('back-track', courseHierarchy)" attr.aria-label="'Finish'">
                      <span>{{resourceService?.frmelmnts?.player?.finish}}</span>
                    </button>
                  </ng-container>
                </div>
              </div>
              <!-- <app-content-actions [assessmentEvents]="assessmentEvents" *ngIf="isFullScreenView" class="player-fullscreen-action-items" [isFullScreen]="true" [contentData]="activeContent" [objectRollUp]="objectRollUp">
              </app-content-actions>
              <app-content-actions [assessmentEvents]="assessmentEvents" *ngIf="activeContent" [contentData]="activeContent" [objectRollUp]="objectRollUp">
              </app-content-actions> -->
            </section>
          </div>
          <!-- <div class="mt-8">
            <app-credits-and-licence *ngIf="activeContent" [contentData]="activeContent"></app-credits-and-licence>
          </div> -->
        </div>
      </section>
    </div>
  </div>

  <div class="ui container py-16" *ngIf="showLoader">
    <app-loader [data]='loaderMessage'></app-loader>
  </div>
</div>

<app-modal-wrapper *ngIf="shareLinkModal" [config]="{disableClose: false, panelClass: 'material-modal'}"
  (dismiss)="shareLinkModal = false">
  <ng-template sbModalContent>
    <app-share-link [shareLink]="shareLink" [telemetryShareData]="telemetryShareData">
    </app-share-link>
  </ng-template>
</app-modal-wrapper>

<app-course-completion *ngIf="showCourseCompleteMessage" [certificateDescription]="certificateDescription"
  (close)="onCourseCompleteClose()"></app-course-completion>

<!-- Start - Modal for Assessment attempts -->
<app-modal-wrapper *ngIf="showMaxAttemptsModal" [config]="{disableClose: true, size: 'normal'}"
  (dismiss)="closeLoginModal()" #modal>
  <ng-template sbModalContent>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible normal">
          <div class="sb-modal-content sb-join-modal-content">
            <div class="sb-h4 px-0 py-20">
              {{resourceService?.frmelmnts?.lbl?.selfAssessMaxAttempt}}
            </div>
          </div>
          <div class="sb-modal-actions">
            <a appTelemetryInteract [telemetryInteractObject]="telemetryInteractObject" tabindex="0"
              [telemetryInteractEdata]="signInInteractEdata"
              (click)="goBack(); showMaxAttemptsModal = !showMaxAttemptsModal"
              class="sb-btn sb-btn-normal sb-btn-error ml-auto sb-cls-btn">
              {{resourceService?.frmelmnts?.btn?.close}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>
<!-- End - Modal for Assessment attempts -->

<!-- Start - Modal for Assessment attempts -->
<app-modal-wrapper *ngIf="showLastAttemptsModal" [config]="{disableClose: true, size: 'small'}" #modal>
  <ng-template sbModalContent>
    <div class="sb-modal">
      <div class="transition ui dimmer page modals active visible">
        <div class="ui modal transition active visible small">

          <div class="sb-modal-content sb-join-modal-content">
            <div class="sb-h4 px-0 py-20">
              {{resourceService?.frmelmnts?.lbl?.selfAssessLastAttempt}}
            </div>
          </div>
          <div class="sb-modal-actions">
            <button class="sb-btn sb-btn-normal sb-btn-primary" tabindex="0"
              (click)="showLastAttemptsModal = false; onTocCardClick();">
              {{resourceService.frmelmnts?.btn?.ok}}
            </button>
            <button class="sb-btn sb-btn-normal sb-btn-outline-primary" tabindex="0"
              (click)="showLastAttemptsModal = false;">
              {{resourceService.frmelmnts?.btn?.cancel}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-modal-wrapper>
<!-- End - Modal for Assessment attempts -->

<!--Rating popup -->
<!-- <app-content-rating *ngIf="contentRatingModal && playerConfig" [contentData]="playerConfig.metadata"
  (closeModal)="onRatingPopupClose()"></app-content-rating> -->