<compass-breadcrumb [data]="breadCrumbData"></compass-breadcrumb>

<div class="ui container grid mt-4rem">
    <div class="sb-pageSection-header mb-10">
        <h4 class="sb-pageSection-title mb-10 mr-5 heading" *ngIf="activatedRoute.snapshot.queryParams.learnings">
            {{resourceService.frmelmnts.scttl.learning}}
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.competency">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{selectedCompetency}}"
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.keyword">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{activatedRoute.snapshot.queryParams.keyword ??
            activatedRoute.snapshot.queryParams.keyword[0].toUpperCase() +
            activatedRoute.snapshot.queryParams.keyword.slice(1)}}"
        </h4>
        <h4 class="sb-pageSection-title mb-10 mr-5" *ngIf="activatedRoute.snapshot.queryParams.key">
            {{resourceService.frmelmnts?.lbl?.showingResults | translate}}
            "{{activatedRoute.snapshot.queryParams.key}}"
        </h4>
    </div>
</div>

<div class="container ui grid stackable">
    <div class="nine wide column">
        <div class="ui grid stackable">
            <div class="four wide column" *ngFor="let course of courses">
                <compass-course-card [routerLink]="['/learn/course', course['contentId'] ?? course['identifier']]" [data]="course">
                </compass-course-card>
            </div>
        </div>
    </div>
    <div class="three wide column">
        <div class="ui container grid">
            <div class="twelve wide column">
                <div class="filter">
                    <h5 class="top-heading">Filter by</h5>
                    <h5 class="sub-heading">Type</h5>
                    <div class="ui container checkbox">
                        <input type="checkbox" name="assessment" checked="primaryCategories.indexOf('assessment') != -1" (change)="updateCoursesType($event)" />
                        <label class="checkbox-label">Assessments</label>
                    </div>
                    <div class="ui container checkbox">
                        <input type="checkbox" name="course" checked="primaryCategories.indexOf('course') != -1" (change)="updateCoursesType($event)" />
                        <label class="checkbox-label">Courses</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>