@import "compass-sb-styles/assets/mixins/mixins";

.mt-4rem {
    margin-top: 4rem;
}

@media only screen and (max-width: 767px) {
    .mt-4rem {
        margin-top: 2rem !important;
    }
}

.heading {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: RGBA(0, 0, 0, 0.87);
}

.filter {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgb(245, 245, 245);
    padding: 24px 20px 34px 20px !important;

    h5 {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        font-weight: 700;
        margin: 10px 0px 10px;
    }

    .top-heading {
        color: rgba(0, 0, 0, 0.6);
    }

    .sub-heading {
        color: rgba(0, 0, 0, 0.87);
    }

    .checkbox-label {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        font-weight: 700;
        margin: 10px 0px 10px;
        color: rgba(0, 0, 0, 0.6);
    }
    input[type=checkbox] {
        top: 10px !important;
    }
}

::ng-deep snack-bar-container.wishlist-snackbar{
    background-color: white;
    border-radius: 0px !important;
    min-width: 161px !important;
    height: 54px;
    text-align: center;
    justify-content: center;
    display: flex !important;
}
.mat-list {
    .mat-list-item {
        height: auto;
    }
}

@media only screen and (max-width: 991px){
    .filterContainer.three.wide.column{
        width: 33.33333333% !important;
    }
    .nine.wide.column.courses{
        width: 66%!important;
        .four{
            width: 50%!important;
        }
    }
}

@media only screen and (max-width: 767px){
    .filterContainer.three.wide.column{
        width: 40% !important;
    }
    .nine.wide.column.courses{
        width: 60%!important;
        .four{
            width: 100%!important;
        }
    }
    .container.ui.grid.stackable{
        margin: 1rem !important;
    }
}

@media only screen and (max-width: 767px){
    .filterContainer.three.wide.column{
        width: 43% !important;
    }
    .nine.wide.column.courses{
        width: 57%!important;
    }
}

@media only screen and (max-width: 567px){
    .filterContainer.three.wide.column{
        width: 80% !important;
    }
    .nine.wide.column.courses{
        width: 80%!important;
    }
    .container.ui.grid.stackable{
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media only screen and (max-width: 446px){
    .filterContainer.three.wide.column{
        width: 100% !important;
    }
    .nine.wide.column.courses{
        width: 100%!important;
    }
}